<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>robert lee</title>
    <!-- CSS -->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">-->

    <!-- Bootstrap core JavaScript -->
    <!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->
    <style>
    html {
  background: url('../static/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a { padding: 25px;
}
    </style>

</head>

<!--<body style="background-image: url('../static/img/background.jpg')>-->
<body background="../static/img/background.jpg">

<!--navbar-->
<nav class="navbar navbar-static-top navbar-inverse bg-inverse">
    <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
    <a class="navbar-brand" href="{{ url_for('experience') }}">Experience</a>
    <a class="navbar-brand" href="{{ url_for('resume') }}">Resume</a>
</nav>

<!--<img style="background-image: url({{ url_for('static', filename='img/background.jpg') }})">-->
<!--<img style="background-image: url('../static/img/background.jpg')">-->


<!--&lt;!&ndash;Content section&ndash;&gt;-->
<!--<section class="py-5">-->
<div class="container">
    <center>
        <h1>About</h1>
        <p class="lead">Data Engineer based in Seattle currently employed at Avvo.</p>
        <p>Passion for technology and continuous improvement.</p>
    </center>
</div>
<!--</section>-->

<!--&lt;!&ndash;Footer&ndash;&gt;-->
<!--<footer class="py-5 bg-inverse">-->
<!--<div class="container">-->
<!--<p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>-->
<!--</div>-->
<!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</footer>-->

</body>

</html>