<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>


<body>

<div class="prof-box">
    <img src="../static/img/me.jpg" class="prof-pic">
    <h1>Robert Lee</h1>
    <h3>Data Engineer</h3>
    <div class="line-break"></div>
    <p>
        Data Engineer based in Seattle currently employed at Avvo.<br>
        Passion for technology and continuous learning.
    </p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/robert-lee-972a316b/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/rlee21" title="GitHub" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="mailto:rlee21@comcast.net" title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <form>
            <input class="button-resume" type="button" value="Resume" onclick="window.location.href='./resume.pdf'"/>
        </form>
    </div>
</div>

</body>


</html>
