<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141330598-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-141330598-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robert Lee</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="profile-box">
      <img src="../static/img/me.jpg" alt="Robert Lee" class="profile-img">
      <h1>Robert Lee</h1>
      <h3>Software Developer</h3>
      <div class="line-break"></div>
      <p>
        Software Developer based in Seattle with a passion for technology and
        continuous learning.<br>
      </p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/robert-lee-972a316b" title="LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/rlee21" title="GitHub" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="mailto:rob206lee@gmail.com" title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      <button class="button-resume" type="button" onclick="window.location.href='./resume.pdf'">Resume</button>
      </div>
    </div>
  </body>
</html>
