{% extends 'base.html' %}


{% block body %}
<h3>Resume</h3>
<body>
<p>
    Over 10 years of experience in Data Warehousing and Business Intelligence analytics. Well-versed in development,
    design, support and analysis of data management and reporting systems. Technical expertise in Big Data, Hadoop,
    Hive, Spark, Sqoop, Oozie, Flume, Kafka, SQL, Python, Linux, Git, SDLC, S3, EC2, Data Warehousing, star schemas,
    ETL/ELT, Real-Time, Informatica, Tableau, shell scripting, MySQL, Oracle, PL/SQL, Oracle Data Integrator, OBIEE, IBI
    Data Migrator and IBI WebFOCUS.

</p>


</body>

{% endblock %}